@if(model){
<div class="card stretch stretch-full">
    <div class="card-header">
        <h5 class="card-title">Update Job</h5>
        <div class="dropdown">
            <a href="javascript:void(0);" class="avatar-text avatar-md" data-bs-toggle="dropdown" data-bs-offset="0,22"
                aria-expanded="false">
                <i class="feather-more-vertical"></i>
            </a>
            <div class="dropdown-menu">
                <a href="javascript:void(0);" class="dropdown-item" (click)="delete()">
                    <i class="feather-trash-2 me-3"></i>
                    <span>Delete</span>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex" style="max-height: 70vh;">
        <div class="col-5 overflow-scroll">
            @if (dataTemplate) {
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <li class="mat-tree-node">
                        <button mat-icon-button disabled></button>
                        {{node.name}}
                    </li>
                </mat-tree-node>

                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li>
                        <div class="mat-tree-node">
                            <button mat-icon-button matTreeNodeToggle>
                                <mat-icon>
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                        </div>
                        <ul [class.invisible]="!treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </li>
                </mat-nested-tree-node>
            </mat-tree>
            }
        </div>

        <div class="col-7 overflow-scroll position-relative">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Job Name</label>
                    <input type="text" class="form-control" [(ngModel)]="model.name">
                </div>
                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_Start')
                {
                <app-job-start-form [model]="model"></app-job-start-form>
                }

                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_Timer')
                {
                <app-job-timer-form [model]="model"></app-job-timer-form>
                }

                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_Random')
                {
                <app-job-random-form [model]="model"></app-job-random-form>
                }

                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_HttpRequest')
                {
                <app-job-http-request-form [model]="model"></app-job-http-request-form>
                }

                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_Sleep')
                {
                <app-job-sleep-form [model]="model"></app-job-sleep-form>
                }

                @if(model.className=='FlowEngine.Infrastructure.Worker.Core.Jobs.Job_If')
                {
                <app-job-if-form [model]="model"></app-job-if-form>
                }


                @if (projectJobs) {
                <div class="mb-3">
                    <label class="form-label">Next Jobs</label>
                    <select class="form-control" [(ngModel)]="model.nextJob" multiple [size]="projectJobs.length">
                        @for (item of projectJobs; track item.id) {
                        <option [value]="item.id">{{item.title}}</option>
                        }
                    </select>
                </div>
                }
            </div>
            <div class="w-100 p-4">
                <div class="d-flex gap-2 text-center pt-4">
                    <button (click)="close()" class="w-50 btn btn-light-brand">

                        <i class="feather-x-square me-2"></i>
                        <span>Close</span>
                    </button>
                    <button (click)="save()" class="w-50 btn btn-primary">
                        <i class="feather-save me-2"></i>
                        <span>Save</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>
}